<% @page_title = "Action Details" %>
<br>
 <%= link_to("<< Back to Action History", leave_system_action_history_path, :class => 'action_view') %>

<div class="apply-history index">
  <h2>Request ID: <%= @leave.id %> leave details</h2>


  <table class="expand_full" id="all_applications" summary="Action Details">
    <tr>
      <td>Applicant: </td>
      <td><%= @leave.applicant.first_name + " " + @leave.applicant.last_name %></td>
    </tr>
    <tr>
      <td>From Date: </td>
      <td><%= @leave.from_date %></td>
    </tr>
    <tr>
      <td>To Date: </td>
      <td><%= @leave.to_date %></td>
    </tr>
    <tr>
      <td>Total: </td>
      <td><%= @leave.total_leaves %></td>
    </tr>
    <tr>
      <td>Reason: </td>
      <td><%= @leave.reason %></td>
    </tr>
    <tr>
      <td>Status: </td>
      <td><%= @leave.leave_status %></td>
    </tr>
    <tr>
      <td>Approver's Comments: </td>
      <td><%= @leave.approver_comment %></td>
    </tr>
  </table>

</div>
