<% @page_title = "Worklist" %>
<br>
<%= link_to("<< Homepage", root_path, :class => 'action_view') %>

<div class="worklist">
  <h2>Your Worklist</h2>
  
  <p></p>
  <table class="view_table" summary="Worklist">
    <tr>
      <th>Leave Request ID</th>
      <th>Applicant</th>
      <th>From Date</th>
      <th>To Date</th>
      <th>Total Leaves</th>
      <th>Reason</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
    <% @leaves.each do |leave| %>
    <tr>
      <td><%= leave.id %></td>
      <td><%= leave.applicant.first_name + " " + leave.applicant.last_name %></td>
      <td><%= leave.from_date %></td>
      <td><%= leave.to_date %></td>
      <td><%= leave.total_leaves %></td>
      <td><%= leave.reason %></td>
      <td><%= leave.leave_status %></td>
      <td class="actions">
        <%= link_to('Approve/Reject', edit_leave_system_path(leave), :class => 'action_view') %>
      </td>
    </tr>
    <% end %>
  </table>

</div>
