<% @page_title = "Apply Leave Page" %>
<br>
<%= link_to("<< Back to Homepage", root_path, :class => 'action_view') %>

<div class="new_apply">
  <h2>Apply Leave Page</h2>
  <div class="new" style="text-align: center;">Logged in as: <%= current_user.first_name + ' ' + current_user.last_name %></div> </br>
  <%= form_for :leave, url: {:action => "create"} do |f| %>
  <table class="expand">
    <tr>
      <td>From Date :</td>
      <td><%= f.date_field :from_date %></td>
    </tr>
    <tr>
      <td>To Date:</td>
      <td><%= f.date_field :to_date %></td>
    </tr>
    <tr>
    <tr>
      <td>Approver:</td>
      <td><%= f.select :approver_user_id, @admins %></td>
    </tr>
    <tr>
    <tr>
      <td>Reason:</td>
      <td><%= f.text_area :reason %></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td><%= f.submit "Submit", :class => 'button' %></td>
    </tr>
  </table>
  <% end %>
</div>
